# Machine Configuration
MACHINE_ID=biologic
BIOLOGIC_IP=

# NATS Server Configuration
# Comma-separated list of NATS server URLs
NATS_SERVERS=nats://192.168.50.201:4222,nats://192.168.50.201:4223,nats://192.168.50.201:4224
