# Client connection port
port: 4222

# HTTP monitoring port
http_port: 8222

# Unique server name (resolved from environment variable in compose.yml)
server_name: $SERVER_NAME

# JETSTREAM CONFIGURATION
# https://docs.nats.io/running-a-nats-service/configuration/resource_management
jetstream {
    store_dir: "/data/jetstream"
    max_mem: 1G
    max_file: 10G

    request_queue_limit: 1000
    limits {
      max_ha_assets = 2000
    }
}

# Cluster Configuration
cluster {
    name: "c1"

    # Port for cluster connections (route traffic)
    listen: "0.0.0.0:6222"

    # Full mesh routes to other servers
    routes: [
        "nats-route://nats1:6222",
        "nats-route://nats2:6222",
        "nats-route://nats3:6222"
    ]
}
